I am creating a React Native App using Expo Framework.

## Summary of the app:

This is an android app which helps users upload a file which is then scheduled to be posted on Twitter.

## Description of the App

The app has the following Modules

1. Authentication - This will include a login which uses AWS Cognito to login uses using OAuth.
2. Home - This is the main screen of the app which as a "+ add" button to add a new post.
3. Post - This will include a post screen which will have a form to create a post and upload media if any. The user will have option to Add to next scheduled slot or schedule for a specific date and time along with post immediately options.
4. Schedule - This will have teh ability to create a schedule. I.e. Pre-defined slots can be created when a post has to be posted. This will be like a list of cron jobs that translates to specific slots which will be displayed on the home screen.
5. Settings - This will include a settings screen which will have a form to update the user's profile.

## Tech Stack

Frontend:

-   React Native (Typescript)
-   Expo
-   AWS SDK (Not using Amplify)

Backend:
To be built using AWS CDK (Typescript)

-   AWS Cognito
-   AWS API Gateway (Proxy Mode)
-   AWS Lambda (Python 3.12)
-   AWS DynamoDB
-   AWS S3

## Rules

-   All code related to mobile app should go in app directory.
-   All code related to backend should go in api directory.
-   Assume that the expo server is running and ask me for the error if any, instead of suggesting me to run the server.
